body {
    margin: 0;
    padding: 0;
    display: flex;
}

#announcements {
    width: 350px;
}

#right {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100vh;
}

#navbar {
    display: flex;
    flex-direction: row;
    height: 50px;
}

#searchbar {
    width: 100%;
}

#login {
    margin-left: auto;
}

#map { 
    height: 450px; 
}